<h1><%= @game.name %></h1>

<!-- <div>
  <h1>Pick an character!</h1>
  <h3><%= form_tag(characters_path, method:"update") do %>
        <%= label_tag :character %>
        <%= select_tag(:character, Character.all.collect{|c| [c.name, c.id]})%></br>
        <%= submit_tag "Select character" %>
      <%- end -%>
  </h3>
</div> -->

<div>
<% if !@game.characters.nil? && !@game.characters.empty? %>
  <%= @game.characters.each do |char| %>
    <%= link_to char.name, character_path(char) %>
  <% end %>
<% end %>
</div>

<div>
  <%= link_to "Create a character", new_character_path(@character), class: "button" %>
</div>
