<div class="small-6 columns small-centered columns">
  <h1> Create a Character </h1>
  <%= form_for @character do |f| %>

    <%= f.label :name %>
    <%= f.text_field :name %>

    <%= f.label :birthday, "Birthday" %>
    <%= f.date_select :birthday , start_year: 1910 %>

    <%= f.label :hobby1_id %>
    <%= f.select :hobby1_id, Hobby1.all.collect{|h| [h.name, h.id]}%>

    <%= f.label :hobby2_id %>
    <%= f.select :hobby2_id, Hobby2.all.collect{|h| [h.name, h.id]}%>

    <%= f.label :image %>
    <%= f.file_field :image %>

    <%= f.submit "Submit", class: "button tiny" %>
  <% end %>
</div>

<% if false %>
<div>
  <!-- Upload image -->
<section id="sectionDragAndDrop">
    <div class="drop" id="drop">
        <p>Drag & drop or click here to upload an image.</p>
    </div>
    <input class="file-upload hidden" id="fileUpload" type="file">
</section>

<!-- Resize image -->
<section class="hidden" id="sectionResize">
    <div class="image-resize" id="imageResize"></div>
  <button class="btn" id="crop"><span class='fa fa-crop'></span> Crop</button>
</section>

<!-- Insert thumbnail -->
<section class="hidden" id="sectionThumbnail">
    <div class="thumbnail" id="thumbnail"></div>
</section>
</div>
<h1>Image Crop</h1>

<img id="exampleImage" src="http://i.imgur.com/dBpMbIf.jpg" crossorigin="Anonymous">

<button class="btn" id="exampleCrop">Crop</button>
</div>
<% end %>
