<div>
  <h1><%= @character.name %></h1>
</div>
  <% speed_array = speed(@character) %>
  <% sanity_array = sanity(@character) %>
  <% might_array = might(@character) %>
  <% knowledge_array = knowledge(@character) %>

<div>
  <h3> Speed <%= speed_array %> </h3>
</div>

<div>
  <h3> Sanity <%= sanity_array %> </h3>
</div>

<div>
  <h3> Might <%= might_array %> </h3>
</div>

<div>
  <h3> Knowledge <%= knowledge_array %> </h3>
</div>
