<div class="small-6 columns">
  <div>
    <h1><%= @character.name %></h1>
    <h2>
      Birthday: <%= @character.birthday.month %>/
      <%= @character.birthday.day %><br>
      Hobbies: <%= @character.hobby1.name %>,
      <%= @character.hobby2.name %>
      <%= image_tag @character.image_url.to_s %>
  </div>

  <div>
    <h3> Speed <%= @character.speed %> </h3>
  </div>

  <div>
    <h3> Might <%= @character.might %> </h3>
  </div>

  <div>
    <h3> Sanity <%= @character.sanity %> </h3>
  </div>

  <div>
    <h3> Knowledge <%= @character.knowledge %> </h3>
  </div>
</div>
