<div>
  <h1><%=@character.name%></h1>
</div>

<div class="row">
  <div class="small-3 columns">
    <div class="stuff">
    <div id="flat-slider">
    </div>
    </div>
  </div>
</div>


<div>
  <h3> Speed:
  <% @character.character_stats.each do |character_stat|%>
      <% if character_stat.stat_id == 1 %>
        <%= character_stat.value %>
      <% end %>
    <% end %>
  </h3>
</div>
<div>
  <h3>Might:
    <% @character.character_stats.each do |character_stat|%>
        <% if character_stat.stat_id == 2 %>
          <%= character_stat.value %>
        <% end %>
      <% end %>
  </h3>
</div>

<div>
  <h3>Sanity:
    <% @character.character_stats.each do |character_stat|%>
        <% if character_stat.stat_id == 3 %>
          <%= character_stat.value %>
        <% end %>
      <% end %>
  </h3>
</div>

<div>
  <h3>Knowledge:
    <% @character.character_stats.each do |character_stat|%>
        <% if character_stat.stat_id == 4 %>
          <%= character_stat.value %>
        <% end %>
      <% end %>
  </h3>
</div>
