<div>
  <h1><%=@character.name%></h1>
</div>
    <% speed_array = [] %>
    <% @character.character_stats.each do |character_stat|%>
        <% if character_stat.stat_id == 1 %>
          <% speed_array << character_stat.value %>
        <% end %>
      <% end %>
    <div class="well">
      <h2>Speed</h2>
        <hr>
          <div id="stat-slider" class="no-ui-slider">
            <div class="slider"></div>
            <ul class="slider-labels nine-columns">
              <li><%= speed_array[0] %></li>
              <li><%= speed_array[1] %></li>
              <li><%= speed_array[2] %></li>
              <li><%= speed_array[3] %></li>
              <li class="active"><%= speed_array[4] %></li>
              <li><%= speed_array[5] %></li>
              <li><%= speed_array[6] %></li>
              <li><%= speed_array[7] %></li>
              <li><%= speed_array[8] %></li>
            </ul>
      </div>
    </div>
  </div>

<div>
  <% might_array = [] %>
    <% @character.character_stats.each do |character_stat|%>
        <% if character_stat.stat_id == 2 %>
          <% might_array << character_stat.value %>
        <% end %>
      <% end %>
  <div class="well">
    <h2>Might</h2>
      <hr>
        <div id="stat-slider" class="no-ui-slider">
          <div class="slider"></div>
          <ul class="slider-labels nine-columns">
            <li><%= might_array[0] %></li>
            <li><%= might_array[1] %></li>
            <li><%= might_array[2] %></li>
            <li><%= might_array[3] %></li>
            <li class="active"><%= might_array[4] %></li>
            <li><%= might_array[5] %></li>
            <li><%= might_array[6] %></li>
            <li><%= might_array[7] %></li>
            <li><%= might_array[8] %></li>
          </ul>
    </div>
  </div>
</div>

<div>
  <% sanity_array = [] %>
    <% @character.character_stats.each do |character_stat|%>
        <% if character_stat.stat_id == 3 %>
          <% sanity_array << character_stat.value %>
        <% end %>
      <% end %>
  <div class="well">
    <h2>Sanity</h2>
      <hr>
        <div id="stat-slider" class="no-ui-slider">
          <div class="slider"></div>
          <ul class="slider-labels nine-columns">
            <li><%= sanity_array[0] %></li>
            <li><%= sanity_array[1] %></li>
            <li><%= sanity_array[2] %></li>
            <li><%= sanity_array[3] %></li>
            <li class="active"><%= sanity_array[4] %></li>
            <li><%= sanity_array[5] %></li>
            <li><%= sanity_array[6] %></li>
            <li><%= sanity_array[7] %></li>
            <li><%= sanity_array[8] %></li>
          </ul>
    </div>
  </div>
</div>

<div>
  <% knowledge_array = [] %>
    <% @character.character_stats.each do |character_stat|%>
        <% if character_stat.stat_id == 4 %>
          <% knowledge_array << character_stat.value %>
        <% end %>
      <% end %>
  <div class="well">
    <h2>Knowledge</h2>
      <hr>
        <div id="stat-slider" class="no-ui-slider">
          <div class="slider"></div>
          <ul class="slider-labels nine-columns">
            <li><%= knowledge_array[0] %></li>
            <li><%= knowledge_array[1] %></li>
            <li><%= knowledge_array[2] %></li>
            <li><%= knowledge_array[3] %></li>
            <li class="active"><%= knowledge_array[4] %></li>
            <li><%= knowledge_array[5] %></li>
            <li><%= knowledge_array[6] %></li>
            <li><%= knowledge_array[7] %></li>
            <li><%= knowledge_array[8] %></li>
          </ul>
    </div>

<div class="small-6 columns">
  <div>
    <h1><%= @character.name %></h1>
    <h2>
      Birthday: <%= @character.birthday.month %>/
      <%= @character.birthday.day %><br>
      Hobbies: <%= @character.hobby1.name %>,
      <%= @character.hobby2.name %>
  </div>

  <div>
    <%= image_tag @character.image_url.to_s %>
  </div>

    <% speed_array = speed(@character) %>
    <% might_array = might(@character) %>
    <% sanity_array = sanity(@character) %>
    <% knowledge_array = knowledge(@character) %>

  <div>
    <h3> Speed <%= speed_array %> </h3>
  </div>

  <div>
    <h3> Might <%= might_array %> </h3>
  </div>

  <div>
    <h3> Sanity <%= sanity_array %> </h3>
  </div>

  <div>
    <h3> Knowledge <%= knowledge_array %> </h3>
  </div>
</div>

<script>
$(function() {
  $("#stat-slider .slider").noUiSlider({
    start: 4,
    step: 1,
    connect: "lower",
    range: {
      'min': 0,
      'max': 8
    },
    serialization: {
      format: {
        decimals: 0
      }
    }
  });

  $('#stat-slider .slider').on('change', function(){
		highlightLabel($(this).val());
	});

  $('#stat-slider .slider').on('slide', function(){
    highlightLabel($(this).val());
  });

  $("#stat-slider .slider-labels").on("click", "li", function() {
    $('#stat-slider .slider').val($(this).index());
    highlightLabel($(this).index());
  });

  function highlightLabel($this) {
    $('#stat-slider .slider-labels li').removeClass('active');
    var index = parseInt($this) + 1;
    var selector = '#stat-slider .slider-labels li:nth-child(' + index + ')';
    $(selector).addClass('active');
  }

});
</script>
